*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}


html,
body {
margin: 0;
padding: 0;
font-family: 'Montserrat';
font-style: normal;
font-size: 12px;
color: #000;
min-height: 100vh;
}

.header {
display: flex;
justify-content: space-between;
gap: 34px;
padding: 16px 18px;
align-items: center;
}
        
.menu-button {
background: transparent;
display: inline-block;
width: 45px;
height: 25px;
position: relative;
cursor: pointer;
}

.menu-button .picture-menu,
.menu-button .picture-menu::before,
.menu-button .picture-menu::after {
position: absolute;
bottom: 0;
left: 20px;
width: 15px;
height: 4px;
margin-top: -2px;
margin-left: -20px;
background: #6B5AF9;
transition: width 1s ease-in-out;
}

.menu-button .picture-menu::before,
.menu-button .picture-menu::after {
content: "";
}

.menu-button .picture-menu::before {
transform: translate(0px, -8px);
width: 27px;
}

.menu-button .picture-menu::after {
transform: translate(0px, -16px);
width: 41px;
}

.sidebar {
background: rgba(163, 161, 161, 0.85);
backdrop-filter: blur(2px);
width: 100%;
height: 100%;
position: absolute;
top: 62px;
left: 0;
z-index: 20;
transform: translate(-100%, 0);
}

.sidebar--open{
transform: translate(0px, 0px);
}

.close-button {
position: absolute;
top: 20px;
left: 14px;
cursor: pointer;
}

.close-button:before, 
.close-button:after {
content: "";
position: absolute;
width: 14px;
height: 4px;
background: #2A2367;
}
    
.close-button:before {
transform: rotate(45deg);
}
    
.close-button:after {
transform: rotate(-45deg);
}

.sidebar__wrapper {
display: flex;
flex-direction: column;
width: 360px;
height: 100%;
background: #fff;
padding: 50px;
gap: 100px;
}

.sidebar__menu {
display: flex;
flex-direction: column;
text-align: center;
font-size: 14px;
font-weight: 700;
color: #2A2367;
list-style-type: none;
}

.sidebar__menu--element {
padding: 14px;
display: block;
}

.sidebar__menu li:nth-child(2) .sidebar__menu--element {
padding: 5.5px; 
}

.sidebar__menu--element:hover {
border-radius: 8px;
background: 20px 20px rgba(244, 241, 241, 0.6);
transform: scale(1.1);
transition: 0.3s ease-in-out;
}

.sidebar__info {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
color: #6B5AF9;
font-size: 18px;
font-weight: 700;
}

.sidebar__footer__email {
padding-bottom: 32px;
}

.sidebar__footer__email,
.sidebar__telephone, 
.sidebar__worktime {
color: #6B5AF9;
font-size: 18px;
font-weight: 700;
}

.sidebar__footer__email:hover,
.sidebar__telephone:hover, 
.sidebar__worktime:hover {
text-decoration: underline;
}

.info-bar {
display: flex;
gap: 20px;
}

.info-bar__button {
border-radius: 5px;
background: #6B5AF9;
width: 52px;
height: 32.5px;
cursor: pointer;
}

.info-bar__social-media {
display: inline-block;
padding-right: 14px;
}
                  
.social__link {
display: block;
width: 30px;
height: 30px;
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.info-bar__info {
display: flex;
flex-direction: column;
}

.info-bar__content {
display: none;
align-items: baseline;
padding-top: 10px;
}
                  
.info-bar__telephone {
font-size: 24px;
font-weight: 800;
color:#000;
}

.info-bar__worktime {
font-style: normal;
font-weight: 700;
margin-left: auto;
}

.navigation {
display: none;
flex-grow: 1;
}

.navigation__menu {
display: flex;
gap: 27px;
list-style: none;
}

.navigation__links {
color: #2A2367;
font-size: 14px;
font-weight: 700;
}

.content {
display: flex;
max-width: 550px;
flex-direction: column;
margin: 0 auto;
padding: 10px;
gap: 25px;
margin-bottom:100px;
}

.advertisement {
display: flex;
flex-direction: column;
}    

.advertisement__text {
color: #2A2367;
font-size: 22px;
font-weight: 600;
}

.advertisement__text--marked {
color: #6B5AF9;
}

.advertisement__picture {
margin-top: -20px;
max-width: 500px;
}

.advertisement__img {
width: 100%;
height: 299px;
}

.order {
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
height: 270px;
}


.order__promises {
color: #2A2367;
font-weight: 400;
margin-bottom: 50px;
}

.order__promises--blot {
color: #6B5AF9;
font-weight: 700;
}

.order__button{
border-radius: 5px;
background: #6B5AF9;
width: 275px;
height: 60px;
color: #fff;
cursor: pointer;
font-size: 12px;
font-weight: 800;
}

.order__text {
color: #6B5AF9;
text-align: center;
max-width: 500px;
}

.order__text--not-marked {
color: #2A2367;
}

.info-bar__button-text {
display: none;
color: #FFF;
font-size: 12px;
font-weight: 800;
}

.header {
margin: 0 auto;
max-width: 1300px;
}
  
.head-text {
display: none;
font-size: 18px;
font-style: normal;
font-weight: 800;
margin-left: 10px;
margin-top: 20px;
}
  
.head-text--marked,
.text--marked {
color: #6B5AF9;
}

.swiper1 {
max-height: 270px;
transition: 0.6s ease-in-out;
margin-left: -10px;
margin-right: -10px;
}
  
.swiper--active {
max-height: 750px;
transition: 0.6s ease-in-out;
}
  
.swiper-wrapper-1 {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
width: 100%;
min-width: 0;
padding: 30px 0;
padding-bottom: 10px;
}
  
.swiper-slide {
display: flex;
flex-direction: column;
max-width: 340px;
height: 200px;
padding-left: 15px;
margin: 0 10px 30px;
border-radius: 10px;
background: #FFF;
box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}
  
.swiper-pagination-bullet-active {
width: 12px;
height: 12px;
background-color: #b5b6bc;
}
  
.swiper-pagination-bullet {
width: 12px;
height: 12px;
background-color: #ddd;
}
  
.container__number {
color: #FFF;
text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
font-size: 64px;
text-align: left;
}
  
.container__property {
font-size: 14px;
text-align: left;
padding-bottom: 10px;
}
  
.container__border {
width: 175px;
border-bottom: 2px solid #E37575;
padding-top: 10px;
}

.offer{
display: flex;
flex-direction: column;
gap: 100px;
}
  
.container__info {
font-size: 12px;
font-weight: 400;
padding: 8px 0 40px;
}
  
.navigation-arrow {
display: flex;
flex-direction: column;
align-items: center;
}
  
.arrow {
display: none;
padding-bottom: 20px;
cursor: pointer;
border: 15px solid #fff;
border-bottom: 5px;
border-top: 5px;
border-radius: 5px;
transform: rotate(0deg);
transition: transform 0.4s linear;
}
  
.active {
transform: rotate(-180deg);
transition: transform 0.4s linear;
}
  
.arrow::before, 
.arrow::after {
content: "";
position: absolute;
width: 3px;
height: 15px;
background: #6B5AF9;
}
      
.arrow::before {
transform: translate(4px) rotate(-45deg);
}
      
.arrow::after {
transform: translate(-5px) rotate(45deg);
}
  
.order-area {
display: flex;
flex-direction: column;
align-items: center;
}
  
.order__button-2 {
margin: 25px 0 25px 0;
}

.what_you_get {
display: flex;
flex-direction: column;
margin: 0 auto;
}

.what_you_get__pictures {
gap: 40px;
display: flex;
flex-direction: column;
}

.card {
display: flex;
flex-direction: column;
}

.card__heading {
color: #6B5AF9;
font-size: 18px;
font-weight: 700;
margin-bottom: 10px;
}

.text-main {
font-size: 18px;
font-weight: 800;
}

.text-main--marked {
color: #6B5AF9;
}

.crad__img {
width: 100%;
max-height: 251px;
}

.list {
display: flex;
flex-direction: column;
gap: 8px;
padding: 5px;
list-style-type: none;
}

.card__list {
padding-bottom: 8px;
}
 
.card__list:before {
content: '';
display: inline-block;
height: 9px;
width: 9px;
vertical-align: middle;
border-radius: 50%;
background-color: #000;
margin-right: 5px;
}

.order__button-3 {
margin: 10px 0 80px 0;
}

.certificates {
padding-bottom: 70px;
}

.yellow-area {
max-width: 550px;
height: 731px;
border-radius: 10px;
background: #F0D577;
padding: 19px 17px;
display: flex;
flex-direction: column;
margin: 0 auto;
width: 100%;
}

.yellow-area__white-border {
max-width: 307px;
height: 697px;
border-radius: 10px;
border: 1px solid #FFF;
margin: 0 auto;
}

.gold-bitrix {
display: flex;
justify-content: center;
margin-top: 19px;
height: 120px;
}

.gold-bitrix__picture {
display: flex;
flex-direction: column;
align-items: center;
}

.certificate__text {
color: #9F9F9F;
font-weight: 700;
padding: 19px 0 6px;
display: flex;
flex-direction: column;
gap: 6px;
text-align: center;
max-width: 500px;
margin: 0 auto;
width:300px;
}

.certificate__name {
color: #2A2367;
font-weight: 700;
}

.certificate__picture {
display: flex;
transform: translate(13px, 24px);
height: 395px;
}

.yellow-area__white-border > .swiper-2 {
max-height: 100%
}

.swiper-wrapper-2 > .swiper-slide {
display: inline-block;
max-width: 340px;
height: 100%;
padding-left: 0;
margin: 0;
background: transparent;
box-shadow: 0 0 0 0;
}

.swiper-2 > .swiper-wrapper {
padding: 0;
}

.swiper > .swiper-wrapper-2 {
padding-bottom: 75px;
}

.swiper-pagination-2 > .swiper-pagination-bullet-active {
width: 12px;
height: 12px;
background-color: #6B5AF9;
}

.exploring-business {
display: flex;
flex-direction: column;
gap: 20px;
}

.exploring-business__text-main {
margin-bottom: 30px;
}

.exploring-business__text {
display: flex;
flex-direction: column;
gap: 10px;
color: #2A2367;
}

.stages {
display: flex;
flex-direction: column;
gap: 30px;
}

.stage__picture-1-2 {
display: none;
}

.stages__text-main {
display: flex;
padding-left: 14px;
}

.stage {
max-width: 550px;
border-radius: 10px;
background: #FFF;
box-shadow: 0px 10px 60px 0px rgba(42, 35, 103, 0.15);
gap: 20px;
display: flex;
flex-direction: column;
padding-left: 14px;
padding-right: 27px;
}

.stage__header {
display: flex;
flex-direction: row;
gap: 18px;
margin-top: 23px;
}

.stage__circle {
text-align: center;
background-color: #43CD93;
border-radius: 50%;
width: 37px;
height: 37px;
}

.stage__number {
color: #FFF;
font-size: 18px;
font-weight: 700;
display: flex;
flex-direction: column;
transform: translateY(7px);
}

.stage__name {
color: #2A2367;
font-weight: 700;
font-size: 12px;
display: flex;
align-items: center;
}

.stage__line {
border-bottom: 1px solid #EBEBEB;
width: 300px;
}

.stage__text {
display: flex;
flex-direction: column;
gap: 10px;
color: #2A2367;
}

.stage-1 {
height: 804px;
}

.stage-2 {
height: 714px;
}

.stage-3 {
height: 519px;
}

.stage-4 {
height: 526px;
}

.stage-5-6 {
height: 332px;
}

.stage__picture-1 {
max-height: 510px;
}

.stage__picture-2 {
height: 450px;
}

.photo {
display: flex;
justify-content: center;
}

.photo__ofice-at-work {
height: 251px; 
width: 100%;
}

.millenium-company {
display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
width: 100%;
padding: 10px;
margin-bottom: 150px;
}

.millenium {
border-radius: 20px;
background: #F4F8FF;
height: 932px;
display: flex;
flex-direction: column;
gap: 30px;
margin-left: 14px;
margin-right: 6px;
position: relative;
}

.millenium__picture-1 {
position: absolute;
z-index: 2;
top: -60px;
left: -10px;
}

.millenium__picture-2 {
position: absolute;
z-index: 2;
top: -40px;
right: 0px;
}

.millenium__text-head {
color: #2A2367;
font-size: 24px;
font-weight: 800;
text-align: center;
margin-top: 40px;
margin-bottom: 30px;
}

.millenium__text-1 {
text-align: center;
font-size: 12px;
font-weight: 400;
margin-bottom: 10px;
}

.call-me-back__form{
display: flex;
flex-direction: column;
gap: 30px;
padding: 15px;
}

.call-me-back {
background: #6B5AF9;
border-radius: 20px;
max-height: 486px;
display: flex;
flex-direction: column;
gap: 20px;
align-items: center;
margin: 0 auto;
position: relative;
max-width: 400px;
margin-left: 10px;
margin-right: 10px;
align-self: center;
}

.call-me {
color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 700;
}

.inputs{
display: flex;
flex-direction: column;
gap: 40px;
align-items: center;
}

.inputs > .call-me-back__input{
width: 100%;
}

.order__button{
border-radius: 5px;
background: #6B5AF9;
width: 275px;
height: 60px;
color: #fff;
}

.order__button-4 {
background: #FFF;
color: #6B5AF9;
font-size: 14px;
font-weight: 700;
margin-top: 20px;
width: 100%;
}

.call-me-back__checkbox{
font-size: 12.5px;
color: #FFF;
margin-left: 13px;
width: 100%;
}
  
.custom-checkbox__text--marked {
color: #9B8FFF;
}

.millenium__picture-3 {
width: 42px;
height: 41px;
position: absolute;
z-index: 2;
bottom: 85px;
left: 0px;
}

.millenium__picture-4 {
width: 91px;
height: 91px;
position: absolute;
z-index: 2;
bottom: -50px;
right: -20px
}

.call-me-back__header {
color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 700;
}

.order-call {
color: #FFF;
text-align: center;
font-size: 12px;
font-weight: 400;
}

.input-1 {
margin-bottom: 39px;
}

input[type = text] {
border: none;
color: #fff;
border-bottom: 1px solid rgba(255, 255, 255, 0.40);
background: #6B5AF9;
width: 250px;
padding-bottom: 5px;
outline: none;
}

.input-2 {
margin-bottom: 50px;
}

.call-me-back__input::-webkit-input-placeholder {
color: rgba(255, 255, 255, 0.40);
}

.custom-checkbox__text {
transform: translate(25px, -20px);
}

.custom-checkbox__text--marked {
color: #9B8FFF;
}

.custom-checkbox {
position: absolute;
z-index: -1;
opacity: 0;
}

.custom-checkbox + label {
user-select: none;
}

.custom-checkbox + label::before {
content: '';
display: inline-block;
width: 16px;
height: 16px;
flex-shrink: 0;
flex-grow: 0;
background: #9B8FFF;
border: 1px solid #adb5bd;
border-radius: 2px;
margin-right: 0.5em;
background-repeat: no-repeat;
background-position: center center;
background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
border-color: #9B8FFF;;
background-color: #9B8FFF;;
background-image: url("pictures/check\ mark.png")
}

.custom-checkbox:hover + label::before {
box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.millenium__picture-5 {
max-width: 221px;
height: 113px;
align-self: flex-start;
}

.footer {
margin: 0 auto;
height: 642px;
background: #2A2367;
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
gap: 30px
}

.footer__text {
color: #FFF;
font-size: 18px;
font-weight: 700;
margin: 27px 0 11px 0;
display: flex;
justify-content: center;
}

.footer__header {
display: flex;
flex-direction: column;
order: -2;
position: relative;
}

.footer__header::after{
content: "";
border: 1px solid #6B5AF9;
height: 1px;
width: 100%;
position: absolute;
bottom: 90px;
}

.footer__main-text {
display: flex;
flex-direction: column;
order: -3;
}

.footer__email {
color: #6B5AF9;
font-size: 20px;
font-weight: 700;
margin-bottom: 30px;
display: flex;
justify-content: center;
}

.footer-line {
width: 340px;
border-bottom: 0.5px solid #6B5AF9;
margin-bottom: 30px;
margin-left: 10px;
display: flex;
order: -2;
transform: translateY(-90px);
}

.footer-order-area {
order: -1;
}

.order__button-5 {
margin-top: 30px;
}

.address-and-social__links {
display: flex;
flex-direction: row;
list-style: none;
gap: 20px;
justify-content: center;
margin-bottom: 30px;
}

.address-and-social__media {
width: 35px;
height: 35px;
}

.footer__address {
color: #FFF;
text-align: center;
font-size: 14px;
font-weight: 700;
margin: 0 25px 28px;
display: flex;
justify-content: center;
}

.footer__worktime {
color: #FFF;
text-align: center;
font-size: 14px;
font-weight: 700;
margin-bottom: 37px;
display: flex;
justify-content: center;
}

.order__button-6__logo {
margin: 0 auto;
width: 121.04px;
height: 72.08px;
}

.footer__copyright {
color: #FFF;
text-align: center;
font-size: 12px;
font-weight: 400;
display: flex;
justify-content: center;
}

.footer__privacy-policy {
color: #FFF;
font-size: 12px;
font-weight: 400;
text-decoration-line: underline;
display: flex;
justify-content: center;
}

.modal {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
z-index: 10;
}

.modal--closed{
display: none;
}

.close-button .modal-close-button {
top: 20px;
left: 280px;
}
  

.modal-window {
width: 340px;
height: 514px;
border-radius: 10px;
background: #FFF;
z-index: 5;
position: absolute;
inset: 0;
margin: auto;
}

.modal__head-label{
display: flex;
flex-direction: column;
gap: 15px;
font-size: 16px;
font-weight: 500;
width: 100%;
}


.modal--your-name, 
.modal--your-telephone {
color: #7E7E7E;
font-size: 16px;
font-weight: 500;
}

.order__button-5 {
width: 310px;
height: 60px;
}

.modal__text {
color: #9895B4;
font-size: 10px;
font-weight: 500;
}

.modal__button-with-book {
margin: 0 auto;
}

.order__button-6 {
width: 213.52px;
height: 93.84px;
border-radius: 10px;
background: linear-gradient(84deg, #6B5AF9 -24.18%, #AEA4FE 112.68%);
position:relative;
}

.locker {
background: #A6A6A6;
border-radius: 50%;
order: 2.72px solid white;
width: 21.76px;
height: 21.76px;
transform: translate(197px, -90px);
border: 2.72px solid white;
position: absolute;
}

.locker__image {
transform: translate(0px, 3px);
}

.modal--input > input[type = text] {
background: #fff;
color: #9895B4;
}

button[type = submit] {
width: 310px;
height: 60px;
border-radius: 5px;
background: #6B5AF9;
color: #fff;
}

.modal > .overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.20);
z-index: 0;
overflow: auto;
}

.modal__input::-webkit-input-placeholder {
color: #9895B4;;
}

.modal--input {
margin-top: 13px;
border-bottom: 2px solid #9895B4;;
width: 310px;
}

.modal__form {
display: flex;
flex-direction: column;
gap: 15px;
justify-content: center;
padding: 15px;
}
.modal__head-text {
font-size: 18px;
font-weight: 700;
color: #2A2367;
text-align: center;
}

.modal-window > .close-button {
transform: translate(292px, -4px);
}

.modal__input {  
border: none;
color: #fff;
width: 250px;
margin-left: 23px;
padding-bottom: 5px;
outline: none;  
color: #9895B4;
font-size: 12px;
font-weight: 700;
}

.modal__head-label > .modal__input {
color: #9895B4;
border-bottom: 1px solid #9895B4;
background: none;
margin: 0;
width: 100%;
}

.modal__inputs {
display: flex;
flex-direction: column;
gap: 20px;
color: #7E7E7E;
margin-top: 30px;
}


@media (min-width: 720px) {

.logo {
width: 177.613px;
height: 55px;
}

.advertisement__text {
font-size: 24px;
font-weight: 700;
}

.info-bar__button {
width: 62px;
height: 38.75px;
}

.info-bar__button-icon {
width: 20.021px;
height: 20.021px;
}

.sidebar {
top: 72px;
}

.stage{
max-width: 650px;
margin: 0 auto;
}

.sidebar__wrapper > .close-button {
left: 320px;
}
    
.close-button:before, 
.close-button:after {
width: 20px;
height: 5px;
}

.sidebar__wrapper {
gap: 200px;
}

.order {
align-items: flex-start;
}

.advertisement__img {
width: 100%;
height: 350px;
}

.content {
max-width: 900px;
padding-top: 41px;
position: relative;
margin: 0 auto;
margin-bottom: 100px;
}

.advertisement__picture {
position: absolute;
right: 0;
width: 60%;
}

.order__promises {
width: 356px;
}

.order__text {
width: 287px;
text-align: left;
}

.advertisement {
max-width: 1000px;
flex-direction: row;
gap: 0;
}  
}

@media (min-width: 768px) {

.call-me-back {
max-width: 472px;
}

.call-me-back__form {
padding: 40px;
width: 472px;
}
  
.call-me {
font-size: 24px;
}
  
.millenium__picture-3{
bottom: 0;
left: -65px;
}
  
  
.millenium__picture-4 {
width: 119px;
height: 119px;
bottom: -215px;
right: -150px;
}
  
  
.text-main {
font-size: 24px;
padding-left: 0;
}

.container { 
display: flex;
flex-direction: column;
}
  
.swiper {
margin-bottom: 10px;
}

.modal-window{
width: 532px;
}

.modal-window > .close-button {
transform: translate(480px, 3px);
}

.modal__form{
width: 450px;
margin: 0 auto;
}

.inputs > .modal__button{
width: 100%
}

.swiper-slide .swiper-slide-1 {
min-width: 363px;
}

.swiper1 > .swiper-wrapper{
justify-content: flex-start;
margin: 0 auto;
width: 720px;
}
  
.swiper-wrapper {
justify-content: center;
flex-wrap: wrap;
padding: 55px 0 0 0;
}

.swiper > .swiper-wrapper-2  {
justify-content: space-between;
}

.swiper > .swiper-wrapper-2 > .swiper-slide {
max-width: 429px;
height: 700px;
width: 429px;
overflow: hidden;
}

.swiper > .swiper-wrapper-2 {
flex-wrap: nowrap;
}

.yellow-area__white-border > .swiper-2 {
display: flex;
flex-direction: column;
height: 750px;
width: 429px;
}
  
.head-text {
display: inline;
font-size: 24px;
font-weight: 800;
margin-left: 0;
}
  
.arrow {
display: flex;
}

.stage{
width: 668px;
}

.card__text {
display: flex;
flex-direction: column;
justify-content: center;
width: 600px;
}

.card:nth-child(odd) {
flex-direction: row;
}

.card:nth-child(even) {
flex-direction: row-reverse;
}

.order__button-3 {
margin: 10px 0 100px 0;
}

.yellow-area {
max-width: 752px;
height: 1125px;
}

.yellow-area__white-border {
max-width: 720px;
height: 1067px;
margin: 0;
}

.certificate__picture {
width: 429px;
height: 607px;
background-size: cover;
width: 100%;
}

.swiper-2 {
width: 300px;
}

.gold-bitrix {
height: 226px;
}

.exploring-business {
flex-direction: row;
}

.exploring-business-text-containe {
width: 360px;
}

.stage {
max-width: 900px;
margin-left: auto;
margin-right: auto;
padding-left: 43px;
padding-right: 81px;
} 

.stage-1, 
.stage-2 {
height: 1302px;
}

.stage-3 {
height: 728px;
}

.stage-4 {
height: 802px;
}

.stage-5-6 {
height: 479px;
}

.stage__circle {
width: 53px;
height: 53px;
} 

.stage__number {
font-size: 24px;
transform: translateY(12px);
}

.stage__name {
font-size: 24px;
}

.stage__line {
width: 582px;
}

.stage__text {
font-size: 18px;
}

.stage__picture-1 {
max-height: 784px;
}

.stage__picture-2 {
height: 792px;
}

.photo__ofice-at-work {
height: 590px;
max-width: 1440px;
}

.millenium {
height: 1015px;
margin-left: 10px;
margin-right: 10px;
}

.millenium__text-main {
margin: 0 64px 0 64px;
}

.millenium__text-1 {
font-size: 14px;
}

.call-me-back {
width: 472px;
height: 486px;
}

.call-me-back__heade {
font-size: 24px;
}

input[type = text] {
border-bottom: 2px solid rgba(255, 255, 255, 0.40);
width: 338px;
}

.millenium__picture-1 {
width: 146px;
height: 146px;
}

.millenium__picture-2 {
height: 173px;
top: 300px;
right: 5%;
}

.millenium__picture-5 {
max-width: 335px;
height: 171px;
}

.millenium-company {
margin: 0 auto;
margin-bottom: 250px;
}

.order__button-4 {
font-size: 14px;
}

.footer {
height: 506px;
padding: 50px;
}

.footer__header::after{
bottom: -10px;
}

.footer__text {
font-size: 24px;
margin: 15px 0 27px 0;
}

.footer__header {
flex-direction: row;
gap: 41px;
}

.footer__email {
font-size: 29px;
margin-bottom: 29px;
}

.footer__main-text {
align-items: flex-start;
}

.footer-order-area {
order: -2;
}

.footer-line {
width: 665px;
order: -1;
transform: translateY(0);
}

.footer__address-and-social {
display: flex;
flex-direction: row-reverse;
gap: 349px;
}

.footer__address-and-worktime {
width: 226px;
}

.footer__address {
margin: 0 0 34px;
text-align: left;
}

.footer__worktime {
justify-content: flex-start; 
margin-bottom: auto;
}

.order-area .footer-order-area {
margin-top: 0;
}

.order__button-5 {
width: 341px;
margin-top: auto;
margin-bottom: 20px;
font-size: 14px;
}
}

@media (min-width: 1149px) {
.head-text {
font-size: 36px;
}

.content{
max-width: 1200px;
padding: 45px;
}

.container{
width: 1100px;
padding-left:15px; 
}

.swiper-wrapper{
width: 1160px; 
justify-content: flex-start; 
} 

.footer{
padding: 75px;
}

.footer__header{
justify-content: space-between;
width: 100%;
}

.footer__address-and-social{
justify-content: space-between;
width: 100%;
}

.swiper1 > .swiper-wrapper {
width: 1100px;
margin: 0;
} 
}  

@media (min-width: 1200px){
.stage{
width: 1160px;
}

.container{
max-width: 1200px;
padding-left:15px;
}

.swiper-wrapper{
width: 1160px;
}

.swiper1{
max-width: 1100px;
}
}

@media (min-width: 1400px) { 

.millenium__picture-2{
  top: 150px;
}

.yellow-area{
max-width: 1160px;
height: 490px;
}

.yellow-area__white-border{
max-width: 1120px;
height: 438px;
display: flex;
justify-content: space-between;
}

.gold-bitrix__picture{
width: 359px;
height: 438px;
}

.yellow-area__white-border > .swiper-2{
margin: 0;
width: 700px;
}

.swiper .swiper-wrapper-2{
display: flex;
width: 650px;
justify-content: normal;
align-content: center;
margin-left: auto;
}

.swiper1 > .swiper-wrapper{
width: 100%;
}

.swiper > .swiper-wrapper-2 > .swiper-slide{
width: 231px;
height: 427px;
}

.certificate__text{
width: 231px;
margin: 0;
}

.certificate__picture{
width: 231px;
height: 327px;
}

.swiper {
width: 1200px;
}

.swiper-wrapper{
width:1200px;
}

.swiper-slide {
min-width: 373px;
}

.menu-button {
display: none;
}
    
.info-bar__button {
width: 177px;
height: 60px;
}
    
.info-bar__button-icon {
display: none; 
}

.info-bar__button-text {
display: inline;
}
    
.navigation {
display: block;
}
    
.info-bar__content{
display: flex;
}

.order {
height: 350px;
width: 1200px;
margin: 0 auto;
}

.advertisement__picture {
max-width: 700px;
}

.content {
max-width: 1500px;
padding-top: 41px;
position: relative;
margin: 0 auto;
}

.advertisement{
padding-left: 60px;
}

.advertisement__img {
width: 100%;
height: 550px;
}

.advertisement__text {
font-size: 36px;
width: 653px;
padding-top: 33px;
}

.order__promises {
font-size: 16px;
width: 619px;
}

.order__text {
font-size: 14px;
width: 472px;
padding-top: 20px;
}

.sidebar {
display: none;
}

.text-main {
font-size: 36px;
margin-left: -20px;
}

.list {
font-size: 14px;
}

.crad__img {
width: 521px;
max-height: 365px;
}

.card:nth-child(odd) {
justify-content: space-between;
}

.card:nth-child(even) {
justify-content: flex-end;
}

.exploring-business {
justify-content: center;
}

.exploring-business__text {
max-width: 544px;
font-size: 18px;
}

.exploring-business__picture {
max-width: 667px;
height: 556px;
}

.stage {
max-width: 1400px;
width: 1200px;
} 

.stages__text-main {
padding-left: 60px;
}

.stage__picture-1 {
display: none;
}

.stage__picture-1-2 {
display: inline-block;
max-height: 784px;
}

.millenium-company {
max-height: 738px;
}

.millenium {
flex-direction: row;
flex-wrap: wrap;
max-width: 1400px;
}

.millenium__text {
max-width: 448px;
margin-left: 98px;
}

.millenium__text-head {
font-size: 36px;
font-weight: 800;
line-height: 59.904px;
max-width: 205px;
margin-bottom: 20px;
}

.millenium__text-1 {
font-size: 18px;
text-align: justify;
}

.container{
margin: 0 auto;
width: 1400px;
}

.call-me-back {
margin-top: 65px;
margin-left: auto;
margin-right: auto;
}

.millenium__picture-4 {
  width: 165px;
  height: 165px;
  bottom: -325px;
right: -170px;
}

.millenium__picture-3 {
  bottom: -50px;
  left: -72px;
  width: 58px;
  height: 57px;
}

.millenium__picture-5 {
max-width: 430px;
height: 219px;
transform: translateY(-20px);
}

.millenium__text-main {
margin: auto;
}

.footer__header {
gap: 480px;
}

.footer-line {
width: 1160px;
}

.footer__address-and-social {
gap: 720px;
}

.footer__address-and-worktime {
width: 291px;
}

.footer__address {
font-size: 18px;
margin: 0 0 24px;
}

.footer__worktime {
font-size: 18px;
}
}

@media (min-width: 1400px) {
.advertisement__picture {
max-width: 750px;
}

.millenium__picture-1{
left: 400px;
}

.swiper1{
max-width: 1400px;
}

.modal-window{
width: 766px;
height: 498px;
}

.modal-window > .close-button{
transform: translate(700px, 3px);
}
}

@media (min-width: 1440px) {
}